<div class="header">
    <p>Hi This Basic Understanding of Angular please keep it update as per daily sedule.</p>
    <div class="img">
        <img [src]="srcpath" alt="" srcset="" height="220px">
    </div>
</div>
<hr>
<div class="event">
    <input type="text" name="eventmanage" id="eventmanage"  (input)="parameterEvent($event)"/>
</div>
<div class="changedisplay"  [style.background]="backgroundColor">
    <button (click)="changeNotification()">Show Something</button>
    <div class="close" [hidden]="notificationclaose">
        {{notifications}}
    </div>
</div>